:root {
    --header-bg: rgb(0, 34, 85);
    --header-text: white;
    --button-bg: rgb(110, 126, 218);
    --button-bg-active: rgb(27, 37, 95);
}

@font-face {
    font-family: "Quicksand";
    src: url(fonts/Quicksand.ttf);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(228, 226, 226);
    font-family: "Quicksand";
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: var(--header-bg);
    color: var(--header-text)
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.search-city-wrapper {
    padding: 20px;
}

input {
    font-size: 30px;
}

.city-btn {
    font-size: 30px;
    min-width: 160px;
    margin-left: 10px;
    background-color: var(--button-bg);
    border: 2px solid var(--header-bg);
    cursor: pointer;
}

.city-btn:active {
    background-color: var(--button-bg-active);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-frame {
    margin: 20px;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-today {
    flex-direction: column;
    align-items: center;
    display: flex;
    background-color: lightgreen;
    height: 600px;
    width: 500px;
    margin: 20px;
    background-image: none;
    background-position: center;
    border: 3px solid var(--header-bg)
}

.forecast-wrapper {
    display: flex;
    flex-direction: column;
    margin: 50px;
    gap: 25px;
}

.forecast {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgreen;
    height: 300px;
    width: 400px;
    background-image: none;
    background-position: center;
    border: 3px solid var(--header-bg)
}

/* Texts */
.city-name-header {
    font-size: 70px;
    font-weight: 500;
    margin-bottom: 0;
}

.weather {
    font-size: 30px;
}

.current-temp {
    font-size: 88px;
    font-weight: 400;
    margin: 0;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: rgb(235, 235, 235);
    color:rgb(83, 83, 83)
}